<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vending.android.tests" >

    <application>
        <uses-library android:name="android.test.runner" />
    </application>


    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="com.vending.android" />

</manifest>
